.Button {
    height: 100%;
    vertical-align: middle;
    border: 2px solid darkgray;
    font-size: 20px;
    font-family: sans-serif;
}

.Button:focus {
    outline: darkgray;
}

.Button:hover {
    cursor: pointer;
}

.regNum {
    background-color: #282828;
    color: white;
}

.regNum:hover {
    background-color: black;
    transition: ease-in-out;
}

.topBar {
    background-color: #E0E0E6;
    color: black;
}

.topBar:hover {
    background-color: lightgray;
    transition: ease-in-out;
}

.zero {
    grid-column: span 2;
}

.operand {
    color: white; 
    background-color: orange;
}

.operand:hover {
    background-color: darkorange;
    transition: ease-in-out;
}

#active {
    background-color: darkorange;
}

@media only screen and (max-width: 375px) {
    .Button {
      font-size: 50px;

    }
}