.display {
    grid-column: 1 / -1;
    text-align: right;
    padding: 10px;
    background: #282828;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    border: 2px solid darkgray;
}

@media only screen and (max-width: 375px) {
    .display {
      font-size: 50px;
      height: 100%;
      padding-top: 70px;

    }
}